body {
    background: linear-gradient(to left, #0c6f96, #f0eaf2); 
    margin: 0; 
    padding: 0; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.sgpa-container, .ygpa-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(13, 98, 144, 0.362);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 400px; 
}

.sgpa-container {
    margin-bottom: 20px; 
}

h2 {
    margin-top: 0;
}

input[type="number"] {
    padding: 8px;
    margin: 10px 0;
    width: 100%; 
    box-sizing: border-box; 
}

button {
    padding: 10px 20px;
    background-color: #0aafeb;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box; 
}

button:hover {
    background-color: #05c0d9;
}

#sgpaResult, #ygpaResult {
    margin-top: 10px;
}

.ygpa-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.semester-input {
    margin-bottom: 10px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
}
